/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        media_combo {
            bindings = <&mo 3>;
            key-positions = <36 41>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CAPS |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | CTRL |
            //                    | CMD | LWR | RET |   | SPC | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp F     &kp P  &kp B      &kp J      &kp L     &kp U      &kp Y    &kp SEMICOLON  &kp LALT
&kp CAPS   &kp A  &kp R  &kp S     &kp T  &kp G      &kp M      &kp N     &kp E      &kp I    &kp O          &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp D  &kp V      &kp K      &kp H     &kp COMMA  &kp DOT  &kp FSLH       &kp LCTRL
                         &kp LGUI  &mo 1  &kp RET    &kp SPACE  &kp BSPC  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | CAPS | BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB    &kp STAR  &kp N7  &kp N8  &kp N9    &kp PLUS     &kp CARET    &kp AMPS     &kp LBKT              &kp RBKT  &kp DOLLAR  &trans
&kp CAPS   &kp N0    &kp N4  &kp N5  &kp N6    &kp MINUS    &kp PERCENT  &kp AT_SIGN  &kp LEFT_PARENTHESIS  &kp RPAR  &kp BSLH    &kp GRAVE
&kp LSHFT  &kp FSLH  &kp N1  &kp N2  &kp N3    &kp EQUAL    &kp UNDER    &kp HASH     &kp LBRC              &kp RBRC  &kp PIPE    &kp TILDE
                             &trans  &kp LGUI  &kp SPACE    &kp RET      &kp LALT     &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CAPS |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp CAPS   &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                             &trans    &kp LGUI  &kp SPACE    &kp RET    &kp LALT   &trans
            >;
        };

        media {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
